@import 'libs/normalize';
@import 'libs/fonts';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/humburger';
@import 'blocks/advantages';
@import 'blocks/work';

@import 'media/promo-m';
@import 'media/header-m';
@import 'media/button-m';
@import 'media/advantages-m';
@import 'media/work-m';
