.advantages {
  min-height: 590px;
  padding: 54px 0 58px;
  background-color: #f3f3f3;
  &__wrapper {
    margin-top: 32px;
  }
  &__row {
    display: flex;
    margin-top: 36px;
    img {
      display: block;
      margin: 3px 0 auto;
    }
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  &__column {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &:nth-child(2) {
      margin-left: 67px;
    }
  }

  &__img {
    min-width: 70px;
    min-height: 65px;
    margin-right: 13px;
  }
  &__descr {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #3a3a3a;
    span {
      font-size: 16px;
      font-weight: bold;
      color: #ec644b;
    }
  }
}
