.button {
  border: none;
  background-color: #ec644b;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  user-select: none;
  &:active {
    box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.5);
  }
  &_small {
    width: 160px;
    height: 45px;
    border-radius: 23px;
    font-size: 12px;
    font-weight: normal;
  }
  &_big {
    width: 230px;
    height: 57px;
    border-radius: 29px;
    font-size: 15px;
    font-weight: bold;
  }
}
