.footer {
  padding: 24px 0 28px;
  min-height: 201px;
  background-color: #25333c;
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 70px;
    height: 70px;
  }
  &__text {
    padding-left: 44px;
    width: 709px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #ffffff;
  }
  &__contacts {
    min-width: 163px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: right;
    color: #ffffff;
    margin: 0 19px;
  }
  &__phone {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.26;
    color: #ffffff;
    text-decoration: none;
  }
  hr {
    margin: 26px 0 19px;
    opacity: 0.3;
  }
  &__wrapper {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.31;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__politic {
    color: #ec644b;
  }
  &__create {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-left: 10px;
    }
  }
}
