.questions {
  min-height: 438px;
  padding: 62px 0 79px;
  background: url('../img/bg/bg_questions.jpg') center center / cover no-repeat;
  &__header {
    padding: 20px 0;
    max-width: 896px;
    height: 68px;
    margin: 0 auto;
    background-color: #25333c;
  }
  &__title {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
}
