.work {
  padding: 51px 0 57px;
  &__text {
    max-width: 879px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    width: 360px;
    margin: 37px 10px 0 10px;
  }
  &__img {
    width: 100%;
  }
  &__descr {
    margin-top: 28px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: justify;
    text-align-last: center;
    color: #3a3a3a;
    div {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 18px;
      color: #ec644b;
      margin-bottom: 10px;
    }
  }
}
